In [1]:
import pandas as pd
import numpy as np

In [3]:
X_value = np.arange(40).reshape(20,2)
y_value = np.arange(20)

sample_df = pd.DataFrame(np.column_stack((X_value, y_value)), columns=['X_1','X_2','result'])

In [4]:
print(sample_df.shape)

(20, 3)

In [5]:
sample_df.head()

   X_1  X_2  result
0    0    1       0
1    2    3       1
2    4    5       2
3    6    7       3
4    8    9       4

In [6]:
#랜덤표본추출
sample_df.sample(n=5, random_state =1001)

    X_1  X_2  result
1     2    3       1
15   30   31      15
0     0    1       0
2     4    5       2
18   36   37      18

In [7]:
# frac 추출할 표본 비율
sample_df.sample(frac = 0.5, random_state=1001)

    X_1  X_2  result
1     2    3       1
15   30   31      15
0     0    1       0
2     4    5       2
18   36   37      18
7    14   15       7
10   20   21      10
6    12   13       6
19   38   39      19
4     8    9       4

In [8]:
#복원 무작위 표본 추출
rep_df = sample_df.sample(frac = 0.2, random_state=1001)
rep_df.head()

    X_1  X_2  result
1     2    3       1
15   30   31      15
0     0    1       0
2     4    5       2

In [9]:
#무작위 표본 추출
sample_df.sample(n=5, weights='result')

    X_1  X_2  result
19   38   39      19
16   32   33      16
10   20   21      10
12   24   25      12
9    18   19       9

In [10]:
def sysmetic_sampling(data, n):
    count = len(data) #모집단 수
    sample_count = count // n
    index = data[:sample_count].sample(1).index
    intoin = index - 0 #샘플 간 간격
    sys_df = pd.DataFrame()
    while len(sys_df) < n:
        sys_df = sys_df.append(data.loc[index,:])
        index += sample_count
    return(sys_df)

In [11]:
#구간 내 필요 샘플 수로 간격 정의
#함수 호출
sysmetic_sampling(sample_df, 5)

C:\Users\user\AppData\Local\Temp\ipykernel_6308\693338121.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sys_df = sys_df.append(data.loc[index,:])
C:\Users\user\AppData\Local\Temp\ipykernel_6308\693338121.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sys_df = sys_df.append(data.loc[index,:])
C:\Users\user\AppData\Local\Temp\ipykernel_6308\693338121.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sys_df = sys_df.append(data.loc[index,:])
C:\Users\user\AppData\Local\Temp\ipykernel_6308\693338121.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sys_df = sys_df.append(data.loc[index,:])
C:\Users\user\AppData\Local\Temp\ipykernel_6308\693338121.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sys_df = sys_df.append(data.loc[index,:])

    X_1  X_2  result
2     4    5       2
6    12   13       6
10   20   21      10
14   28   29      14
18   36   37      18

In [12]:
#층화표본추출
#패키지 로드
from sklearn.model_selection import StratifiedShuffleSplit

splitfi = StratifiedShuffleSplit(n_splits=1, test_size = 0.3, random_state = 1001)

#현재 데이터 확인
sample_df.head(3)

   X_1  X_2  result
0    0    1       0
1    2    3       1
2    4    5       2

In [15]:
#층을 구분하기 위한 값 (0:0그룹, 1:1그룹)
group = [0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1]
sample_df['group'] = group

In [17]:
#데이터 전체 수 확인
sample_df['group'].value_counts()

0    10
1    10
Name: group, dtype: int64

In [20]:
# df_strat_tarin, df_strat_test으로 데이터 분할(표본 추출)
for train_idx, test_idx in splitfi.split(sample_df, sample_df['group']):
    print("Train: ",train_idx, "Test: ", test_idx)
    df_strat_train = sample_df.loc[train_idx]
    df_strat_test = sample_df.loc[test_idx]

Train:  [13  7  1 14 16 12  0 11 10 18  2  8  5  6] Test:  [17 19  3 15  4  9]

In [21]:
#표본추출 실습
print("Train data 수 확인")
print(df_strat_train.shape)
print("Test data 수 확인")
print(df_strat_test.shape)

Train data 수 확인
(14, 4)
Test data 수 확인
(6, 4)